@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --primary: linear-gradient(90deg, #1a237e, #5c6bc0);
  --accent: #311b92;
  --bg: #f5f6fa;
  --text: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg);
  color: var(--text);
}

/* HEADER */
header {
  background: var(--primary);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

header .logo {
  font-size: 1.5em;
  font-weight: bold;
}


nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: 0.3s;
}

nav a:hover {
  text-decoration: underline;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.hero span {
  background: var(--primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  color: #555;
  margin-top: 10px;
}

/* PRODUITS */
.products {
  padding: 60px 20px;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.product-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

.product-card img {
  width: 100%;
   height: 250px;   
  object-fit: cover;
  border-bottom: 3px solid #1a237e; 
}

.product-card h3 {
  margin: 15px 0 5px;
  color: #1a237e;
}

.product-card p {
  margin-bottom: 20px;
  color: #555;
}
.product-card .price {
  font-weight: 600;
  color: #1a237e;
  margin-bottom: 5px;
}

.product-card .desc {
  font-size: 0.95em;
  color: #555;
  margin: 0 10px 15px;
}

/* FOOTER */
footer {
  background: var(--primary);
  color: white;
  text-align: center;
  padding: 30px;
}

footer button {
  margin-top: 20px;
  background: #311b92;
  
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
footer button a {
color: white;
text-align:center;
text-decoration: none;
font-size:16px;
font-weight:600;
font-family: 'Lucida Sans', Verdana, sans-serif;
}

footer button a:hover {
  background: #4527a0;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  header {
    flex-direction: column;
  }

  nav {
    margin-top: 10px;
  }
}
