body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f3f8fc;
  color: #333;
   margin: 0;
  padding: 0;
  height:100%;
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  color: #320289;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: #042172;;
  font-weight: 600;
}

.navbar ul li .btn {
  background-color: #0a1d3c;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
}






.contact-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 100px;
  gap: 40px;
  background-color: #f1f5f9;
  
}

.contact-info {
  flex: 1;
  height:650px;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.contact-info h2 {
  background-color: #0a1d3c;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.info-box h3 {
  color: #0a1d3c;
  margin-bottom: 10px;
}

.info-box p {
  line-height: 1.6;
}
.social-icons {
  margin-bottom: 10px;
  text-align: center;
}

.social-icons a {
  
  color: #0a66c2;
  margin: 0 10px;
  font-size: 30px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.facebook:hover { color: #150566; }
.instagram:hover { color: #e4405f; }
.linkedin:hover { color: #150566; }




.contact-form {
  flex: 1;
  height:650px;
  background-color: #fff;
  padding: 35px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.contact-form h2 {
  background-color: #0a1d3c;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 40px;
}

.form-row {
  font-size:16px;
  display: flex;
  gap: 15px;
  
}

input, textarea {
  margin-bottom: 30px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: none;
  height: 150px;
  padding:0px;
  font-size: 16px;
  

}

.captcha {
  width: 50%;
  margin:15px 20px 0px;
}

.note {
  font-size: 13px;
  color: #666;
  padding:0px 20px;
}

.submit-btn {
  background-color: #0a1d3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width:170px;
  height:50px;
  font-size: 17px;
  font-weight: 700; 
  text-align:center;
   display:block;
   margin:30px auto;
  
}

.submit-btn:hover {
  background-color: #38548b;
}

footer{
  background-color: #0a1d3c;
  color: white;
  text-align: center;
  padding: 15px 0 ;
  margin: 40px 0px 0px;
  font-size: 16px;
  position: relative;
  bottom: 0;
}

