
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f4f3;
  color: #4062c0;
  min-height: 100vh;
  background:rgba(127, 175, 237, 0.345);
}





.navbar {
  width: 100%;
  background: transparent;
  padding: 1rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav h1{
  font-family:'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
  font-weight:800px;
  font-size:40px;
  color:rgb(35, 35, 125);
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #042172;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.3s;
}

nav a:hover {
  opacity: 0.6;
}

.logo {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #042172;
}


.mainsection {

  display: column;
  justify-content: column;
  align-items: center;
  padding: 6rem 8rem;
  flex-wrap: wrap;
  
}

.maintext {
  text-align:center;
  padding-bottom:40px;
}

.maintext h1 {
  padding:70px auto;
  font-family: 'Libre Baskerville', serif;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.0;
  margin-bottom: 1.1rem;
}

.maintext p {
  font-size: 1.5rem;
  color: #042172;
  line-height: 1.6;
  
}

.mainimg {
  text-align: center;
  margin-top: 2rem;
  
}

.mainimg img {
  width: 700px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.mainp{
  text-align: center;
  margin-top: 2.5rem;
}
.mainp p{
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.25rem;
  font-weight:600px;
  color:rgb(2, 2, 158);
}


footer {
  
  padding: 2px 35px;
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.help-btn {
  background: #2a77c5;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
}

.help-btn:hover {
  background: #150566;
}
.social-icons {
  margin-bottom: 10px;
  
  
}

.social-icons a {
  
  color: #fff;
  margin: 0 10px;
  font-size: 30px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.facebook:hover { color: #1877f2; }
.instagram:hover { color: #e4405f; }
.linkedin:hover { color: #0a66c2; }
.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.fade-in2 {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

